

mlxtend
mock
more-itertools

nltk
nose
numba
olefile
openpyxl
path
pathlib2
rope
scikit-image
scikit-learn-intelex
seaborn
simplegeneric
singledispatch
sip
sklearn
sortedcollections
sphinxcontrib-websupport
sqlalchemy
statsmodels
sympy
tables
tbb
unicodecsv
unidecode
whichcraft
win-inet-pton
win-unicode-console
wincertstore
xlrd
xlsxwriter
xlwings
xlwt
yapf
click
coloram
Flask
gunicorn
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
pandas
python-dateutil
pytz
scikit-lear
scipy
six

threadpoolctl==2.2.0
Werkzeug==2.0.1
